# NumPy

In [5]:
# Import numpy
import numpy as np

In [18]:
# Create a 1-dimensional NumPy array using np.array()
np1 = np.array([1,2,3,4])
np1

array([1, 2, 3, 4])

In [17]:
# Create a 2-dimensional NumPy array using np.array()
np2 = np.array([[1,2,3,4],[5,6,7,8]])
np2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [20]:
# Create a 3-dimensional Numpy array using np.array()
np3 = np.array([[[1,2,3,4],[5,6,7,8]],[[9,10,11,12],[13,14,15,16]]])
np3

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

In [27]:
# Attributes of 1-dimensional array
np1.shape, np1.ndim, np1.dtype, np1.size

((4,), 1, dtype('int32'), 4)

In [28]:
# Attributes of 2-dimensional array
np2.shape, np2.ndim, np2.dtype, np2.size

((2, 4), 2, dtype('int32'), 8)

In [29]:
# Attributes of 3-dimensional array
np3.shape, np3.ndim, np3.dtype, np3.size

((2, 2, 4), 3, dtype('int32'), 16)

In [31]:
# Import pandas and create a DataFrame out of one
# of the arrays you've created
import pandas as pd
df1 = pd.DataFrame(np1)
df1

   0
0  1
1  2
2  3
3  4

In [32]:
df2 = pd.DataFrame(np2)
df2

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [39]:
# Create an array of shape (10, 2) with only ones
arrayOnes = np.array([[1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,1],[1,1]])
arrayOnes

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [54]:
ones = np.ones((10,2))
ones

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [40]:
arrayOnes.shape

(10, 2)

In [45]:
# Create an array of shape (7, 2, 3) of only zeros
arrayZeros = np.array([[[0,0,0],[0,0,0]],[[0,0,0],[0,0,0]],[[0,0,0],[0,0,0]],[[0,0,0],[0,0,0]],[[0,0,0],[0,0,0]],[[0,0,0],[0,0,0]],[[0,0,0],[0,0,0]]])
arrayZeros

array([[[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [0, 0, 0]]])

In [55]:
zeros = np.zeros((7,2,3))
zeros

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [46]:
arrayZeros.shape

(7, 2, 3)

In [56]:
# Create an array within a range of 0 and 100 with step 3
arrayRange = np.array(0,100,3)
arrayRange

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [60]:
# Create a random array with numbers between 0 and 10 of size (7, 2)
import random
arrayRandom = np.random.randint(0,100,size=(7,2))
arrayRandom

array([[49, 93],
       [84, 16],
       [12, 90],
       [60, 64],
       [34, 74],
       [81, 74],
       [84, 82]])

In [64]:
# Create a random array of floats between 0 & 1 of shape (3, 5)
arrayRandom2 = np.random.random((3,5))
arrayRandom2

array([[0.14570325, 0.37693739, 0.99812849, 0.3399662 , 0.22909502],
       [0.16048406, 0.0775005 , 0.02392697, 0.84069173, 0.79719352],
       [0.64603004, 0.64831312, 0.60505834, 0.76320222, 0.52590034]])

# Image into numpy array

![](numpy-panda.jpeg)

In [ ]:
from matplotlib.image import imread

panda = imread('numpy-panda.jpeg')
print(type(panda))

In [68]:
panda.shape

(852, 1280, 3)

In [69]:
panda

array([[[14, 27, 17],
        [14, 27, 17],
        [12, 28, 17],
        ...,
        [42, 35, 25],
        [42, 35, 25],
        [41, 34, 24]],

       [[14, 27, 17],
        [14, 27, 17],
        [12, 28, 17],
        ...,
        [42, 35, 25],
        [42, 35, 25],
        [42, 35, 25]],

       [[13, 26, 16],
        [14, 27, 17],
        [12, 28, 17],
        ...,
        [42, 35, 25],
        [42, 35, 25],
        [42, 35, 25]],

       ...,

       [[47, 32, 27],
        [48, 33, 28],
        [48, 33, 26],
        ...,
        [ 6,  6,  8],
        [ 6,  6,  8],
        [ 6,  6,  8]],

       [[39, 24, 19],
        [40, 25, 18],
        [42, 27, 20],
        ...,
        [ 6,  6,  8],
        [ 6,  6,  8],
        [ 6,  6,  8]],

       [[32, 17, 10],
        [33, 18, 11],
        [36, 21, 14],
        ...,
        [ 6,  6,  8],
        [ 6,  6,  8],
        [ 6,  6,  8]]], dtype=uint8)

![](numpy-car-photo.png)

In [71]:
from matplotlib.image import imread

car = imread('numpy-car-photo.png')
print(type(car))

<class 'numpy.ndarray'>

In [72]:
car.shape

(431, 575, 4)

In [73]:
car

array([[[0.5019608 , 0.50980395, 0.4862745 , 1.        ],
        [0.3372549 , 0.34509805, 0.30588236, 1.        ],
        [0.20392157, 0.21568628, 0.14901961, 1.        ],
        ...,
        [0.64705884, 0.7058824 , 0.54901963, 1.        ],
        [0.59607846, 0.63529414, 0.45882353, 1.        ],
        [0.44705883, 0.47058824, 0.3372549 , 1.        ]],

       [[0.44313726, 0.43529412, 0.40392157, 1.        ],
        [0.3137255 , 0.31764707, 0.27450982, 1.        ],
        [0.2       , 0.21176471, 0.14117648, 1.        ],
        ...,
        [0.5058824 , 0.5372549 , 0.4117647 , 1.        ],
        [0.49803922, 0.52156866, 0.39607844, 1.        ],
        [0.4       , 0.42745098, 0.34117648, 1.        ]],

       [[0.39607844, 0.38039216, 0.34117648, 1.        ],
        [0.31764707, 0.3137255 , 0.27450982, 1.        ],
        [0.28627452, 0.29411766, 0.24705882, 1.        ],
        ...,
        [0.44705883, 0.45882353, 0.32156864, 1.        ],
        [0.45882353, 0.48235294, 0.3529412 , 1.        ],
        [0.4509804 , 0.49019608, 0.38039216, 1.        ]],

       ...,

       [[0.47058824, 0.57254905, 0.6313726 , 1.        ],
        [0.4392157 , 0.53333336, 0.5882353 , 1.        ],
        [0.48235294, 0.5803922 , 0.6392157 , 1.        ],
        ...,
        [0.6156863 , 0.7529412 , 0.827451  , 1.        ],
        [0.61960787, 0.7607843 , 0.83137256, 1.        ],
        [0.5921569 , 0.73333335, 0.7921569 , 1.        ]],

       [[0.4745098 , 0.5803922 , 0.6392157 , 1.        ],
        [0.47058824, 0.58431375, 0.63529414, 1.        ],
        [0.4117647 , 0.5019608 , 0.5529412 , 1.        ],
        ...,
        [0.54901963, 0.6784314 , 0.74509805, 1.        ],
        [0.65882355, 0.8117647 , 0.8862745 , 1.        ],
        [0.60784316, 0.74509805, 0.8117647 , 1.        ]],

       [[0.4745098 , 0.57254905, 0.627451  , 1.        ],
        [0.49411765, 0.6       , 0.65882355, 1.        ],
        [0.49019608, 0.5921569 , 0.64705884, 1.        ],
        ...,
        [0.5294118 , 0.63529414, 0.69803923, 1.        ],
        [0.5529412 , 0.67058825, 0.7372549 , 1.        ],
        [0.6156863 , 0.73333335, 0.8       , 1.        ]]], dtype=float32)